@model Customer

<form method="post">
  <div class="mb-3">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" type="email" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" type="password" class="form-control">
  </div>
  <div class="mb-3">
    
    <label class="form-check-label" asp-for="Address"></label>
    <input asp-for="Address"type="text" class="form-control">
  </div>
  <div class="mb-3">
      <label class="form-check-label" asp-for="City"></label>
      <input asp-for="City" type="text" class="form-control">
  </div>

  <div class="mb-3">
      <label class="form-check-label" asp-for="State"></label>
    <input asp-for="State"type="text" class="form-control">
    
  </div>

  <div class="mb-3">
      <label class="form-check-label" asp-for="PostalCode"></label>
    <input asp-for="PostalCode"type="text" class="form-control">
    
  </div>

  <div class="mb-3">
      <label class="form-check-label" asp-for="Country"></label>
      <select class="form-select" asp-for="Country">
          @foreach (var country in @ViewBag.CountryList)
          {
              <option value="@country.Name">@country.Name</option>
          }

      </select>
    
  </div>
  <div class="mb-3">
      <label class="form-check-label" asp-for="Email"></label>
    <input asp-for="Email"type="text" class="form-control">
    
  </div>
  <div class="mb-3">
      <label class="form-check-label" asp-for="Phone"></label>
    <input asp-for="Phone"type="text" class="form-control">
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-danger" asp-controller="Customer" asp-action="Index">
      Cancel
  </a>
</form>