@model Incident
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
	<div>
		<h2>Delete Incident</h2>
	</div>
	<form method="post">
		<div class="mb-3">
			<label asp-for="CustomerName" class="form-label">Customer <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<input type="text" class="form-control" disabled asp-for="CustomerName"/>
		  </div>

		  <div class="mb-3">
			<label asp-for="Product" class="form-label">Product <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<input type="text" class="form-control" disabled asp-for="Product"/>
		  </div>

		  <div class="mb-3">
			<label asp-for="Title" class="form-label">Title <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<input type="text" class="form-control" disabled asp-for="Title">
		  </div>

		  <div class="mb-3">
			<label asp-for="Description" class="form-label">Description <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<input type="text" class="form-control" disabled asp-for="Description">
		  </div>


		  <div class="mb-3">
			<label asp-for="Technician"></label>
			<input type="text" class="form-control" disabled asp-for="Technician"/>
		  </div>

		  <div class="mb-3">
			<label asp-for="DateOpened" class="form-label">Date Opened <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<input type="text" class="form-control" disabled asp-for="DateOpened">
		  </div>

		  <div class="mb-3">
			<label asp-for="DateClosed" class="form-label">Date Closed</label>
			<input type="text" class="form-control" disabled asp-for="DateClosed">
		  </div>
		<button class="btn btn-danger" asp-controller="Incident" asp-action="DeleteIncident" asp-route-id="@ViewBag.DeleteId">Yes</button>
		<button class="btn btn-secondary" asp-controller="Incident" asp-action="List">No</button>
	</form>
	
</div>
