@{
	ViewData["Title"] = "Edit Incident";

}
<div class="container">
	<div>
		<h2>Edit Incident</h2>
	</div>

	<div>
		<form>
		  <div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Customer</label>
			<input type="email" class="form-control" aria-describedby="emailHelp">
		  </div>

		  <div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Product</label>
			<input type="password" class="form-control">
		  </div>

		  <div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Title</label>
			<input type="text" class="form-control">
		  </div>

		  <div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Description</label>
			<input type="text" class="form-control">
		  </div>


		  <div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Techinician</label>
			<input type="text" class="form-control">
		  </div>

		  <div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Date Opened</label>
			<input type="text" class="form-control">
		  </div>

		  <div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Date Closed</label>
			<input type="text" class="form-control">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
